* {
    box-sizing: border-box;
  }
  :root {
    --hulk-green: #008000;
    --hulk-outline: #030;
    --hulk-stroke: #1a1a1a;
    --hulk-shorts: #420c5f;
    --hulk-shorts-outline: #1f062d;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: #808080;
    color: #fff;
    position: absolute;
    left: 10%;
    width: 80%;
    border: 5px solid #404040;
    border-radius: 5px;
    bottom: 0;
    height: 35%;
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    color: #262626;
    text-shadow: 2px 2px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    outline: transparent;
  }
  @media (min-width: 768px) and (min-height: 768px) {
    button {
      font-size: 3rem;
    }
  }
  button span {
    display: inline-block;
  }
  .like-icon svg {
    height: 3rem;
    width: 3rem;
    filter: drop-shadow(2px 2px #999);
  }
  @media (min-width: 768px) and (min-height: 768px) {
    .like-icon svg {
      height: 4rem;
      width: 4rem;
    }
  }
  .crack {
    overflow: hidden;
    filter: drop-shadow(2px 2px #999);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
  .crack {
    position: absolute;
    top: -5px;
    left: -5px;
    stroke: #404040;
    height: calc(10px + 100%);
    width: calc(10px + 100%);
    fill: none;
    stroke-width: 3;
    display: none;
  }
  .fragments {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .fragment {
    height: calc(var(--size, 10) * 0.15vmin);
    width: calc(var(--size, 10) * 0.15vmin);
    position: absolute;
    display: block;
    top: 0;
    left: calc(var(--x, 50) * 1%);
    background: hsl(0, 0%, calc(var(--lightness, 30) * 1%));
    border-radius: calc(var(--radius, 50) * 1%);
    transform: scale(0);
  }
  .like-label {
    margin: 0 1.5rem;
  }
  .smash {
    min-width: 300px;
    width: 50vmin;
    position: relative;
  }
  .hulk__body-part {
    stroke: var(--hulk-outline);
    fill: var(--hulk-green);
  }
  .hulk__chin {
    fill: var(--hulk-outline);
  }
  .hulk__face,
  .hulk__back-head {
    fill: var(--hulk-green);
  }
  .hulk__eye,
  .hulk__hair,
  .hulk__mouth-open {
    fill: var(--hulk-stroke);
  }
  .hulk__eyebrow {
    stroke: var(--hulk-stroke);
  }
  .hulk__pupil,
  .hulk__mouth,
  .hulk__teeth {
    fill: #fff;
  }
  .hulk__sweat {
    fill: rgba(0,212,255,0.75);
  }
  .hulk__shorts {
    fill: var(--hulk-shorts);
    stroke: var(--hulk-shorts-outline);
  }
  